<div class="form-group {{cssClass}}"
     [hidden]="isHiddenCustom"
     [class.disabled]="isDisabled"
     [class.required]="isRequiredCustom"
     [class.is-invalid]="hasErrorCustom" >
  <mat-form-field class="input-label width-100" appearance="outline" [floatLabel]="'always'" >
    <mat-label>{{label}}<mat-icon>required</mat-icon>
    </mat-label>
    <mat-icon matPrefix *ngIf="inputType=='email'" class="gray">email</mat-icon>
    <mat-icon matPrefix *ngIf="inputType=='address'"  class="gray">home</mat-icon>
    <mat-icon matPrefix *ngIf="inputType=='phone'"  class="gray" >phone</mat-icon>
    <mat-select *ngIf="inputType=='select'"
                [formControl]="currentControl"
                id="{{resourceElement}}"
                [(ngModel)]="modelValue"
                (ngModelChange)="onUpdateValue($event)"
                placeholder="{{placeholder || label}}"
                [class.is-valid]="(isRequiredCustom) ? !hasErrorCustom : false"
                [disabled]="isDisabled"
                [required]="isRequiredCustom">
      <mat-option *ngFor="let option of options" [(value)]="option.value || option" >{{option.key || option.value || (option | titlecase)}}</mat-option>
    </mat-select>
    <input  *ngIf="inputType!=='select'" matNativeControl
           [formControl]="currentControl"
           id="{{resourceElement}}"
           [(ngModel)]="modelValue"
           (ngModelChange)="onUpdateValue($event)"
           placeholder="{{placeholder || label}}"
           [attr.min]="inputType === InputType.Number ? min : undefined"
           [attr.max]="inputType === InputType.Number ? max : undefined"
           [attr.step]="inputType === InputType.Number ? step : undefined"
           [attr.maxlength]="optionalMaxLength"
           [class.is-valid]="(isRequiredCustom) ? !hasErrorCustom : false"
           [disabled]="isDisabled"
           [required]="isRequiredCustom"
            [type]="inputType">
      <button *ngIf="tooltip" class="input-icon" mat-icon-button matSuffix (click)="showHint=!showHint">
        <mat-icon [class.black]="showHint" matTooltip="Show help">help_outline</mat-icon>
      </button>
      <app-comment-change-history *ngIf="showCommentChangeHistory"
                                [resourceElement]="resourceElement"
                                [showChanged]="showChanged"
                                [selectedResource]="selectedResource"
                                [originalValue]="getOriginalValue()"
                                [currentValue]="currentValue"
                                (useThisVersionClicked)="onUseThisVersionClicked($event)"
                                  matSuffix
                                [label]="label">
      </app-comment-change-history>
    <mat-hint *ngIf="showHint">
    <mat-icon (click)="showHint=!showHint" *ngIf="tooltip" class="black">help_outline</mat-icon>
    {{tooltip}}
  </mat-hint>
    <mat-error *ngIf="hasErrorCustom">
      {{errorLabel || tooltip}}
    </mat-error>
    <mat-error *ngIf="isRequiredCustom && hasErrorCustom">
      <strong>Required</strong>
    </mat-error>
  </mat-form-field>
</div>
