<div class="row">
  <mat-card class="col-sm-6 col-sm-offset-3 align-center">
    <h3 class="margin-bottom-20">Feedback</h3>
    <div class="margin-bottom-20">
      <p>
        Would you recommend this activity?
      </p>
    </div>
    <div class="margin-bottom-20">
        <button mat-raised-button class="btn btn-primary" (click)="responseClickHandler(true)">Yes</button>
        <button mat-raised-button class="btn btn-primary" (click)="responseClickHandler(false)">No</button>
    </div>
  </mat-card>
</div>

