.input-icon {
  color: lightgrey;
  cursor: pointer;
  position: relative;
}
button[disabled] {
  cursor: not-allowed;
}
.lightgrey {
  color: lightgrey;
}
.gray{
  color: gray;
}
.black {
  color: black;
}
