.input-icon-textarea .input-icon {
  color: gray;
  cursor: pointer;
  position: relative;
  margin-top: -15px !important;
}

.ql-toolbar.ql-snow,  {
  border: none !important;
  background: none;
  //text-align:right;
  margin-top: -35px !important;
}
.lightgrey {
  color: lightgrey;
}
.gray{
  color: gray;
}
.black {
  color: black;
}
.ql-format-group {
  float:right;
}

.input-label {
  min-height: 50px;
  font-size: 140%;
}
.pdf-image {
  width: 10px;
  //height: 14px;
}
