<div class="row margin-bottom-20">
  <div class="col-12">
    <h1 class="margin-bottom-20">Credentials</h1>
    <p *ngIf="sessionService.loggedInUser && sessionService.loggedInUser.credentialDeclarationUpdate">
      You are required to reaffirm these credentials are up to date by
      {{sessionService.loggedInUser.credentialDeclarationUpdate | date:'fullDate' }}
    </p>
  </div>
</div>
<div class="row margin-bottom-20">
  <div class="col-12">
    <h3>Author {{User.fullName(author.firstName, author.lastName)}}</h3>
    <p class="margin-bottom-20">
      Credentials and citations are published at the discretion or requirements of the activity provider. Entering your
      information here and along with any disclosures
      gives you a single location to save and manage these details. We offer authors and reviewers a free service to
      make this professional profile available to any publisher
      or education provider you elect. We will remind you every six months to update your information so you may keep in
      front of the compliance guidelines followed by most association and education institutions.
    </p>
    <hr />
  </div>
</div>
<div class="row margin-bottom-20" *ngIf="credentials && credentials.length > 0">
  <div class="col-12">
    <strong>Degrees, Fellowships and Other Qualifications</strong>
    <app-nowce-data-list [cols]="columnsCredentialDisclosures" [dataArray]="credentials"
      [contextMenu]="contextMenuItems" (editClicked)="editCredentialClickHandler($event)"
      (deleteClicked)="deleteCredentialClickHandler($event)">
    </app-nowce-data-list>
  </div>
</div>
<div *ngIf="showEditCredential">
  <app-edit-credential (Saved)="onSaved($event)" (Cancel)="onCancel($event)"></app-edit-credential>
</div>
<div class="row margin-bottom-20" *ngIf="!showEditCredential">
  <div class="col-12">
    <button mat-raised-button class="btn btn-primary" (click)="showEditCredentialClickHandler()"><i class="fa fa-plus"
        aria-hidden="true"></i>
      Add a credential
    </button>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center align-center">
    <button mat-raised-button class="btn btn-primary" (click)="finishClickHandler()">Finish & confirm everything is up
      to date
    </button>
  </div>
</div>