.home-image {
  margin: auto;
}

.my-profile-image {
  background-size: 174%;
  width: 120px;
  height: 90px;
  background: url("assets/images/my-profile.png") no-repeat center center;
}

.admin-and-accounts {
  background-size: 160%;
  width: 120px;
  height: 90px;
  background: url("assets/images/admin-and-accounts.png") no-repeat center center;
}

.team-icon {
  background-size: 230%;
  width: 120px;
  height: 90px;
  background: url("assets/images/team-icon.png") no-repeat center center;
}

.content-image {
  background-size: 161%;
  width: 120px;
  height: 90px;
  background: url("assets/images/content-image.png") no-repeat center center;
}

.my-courses {
  background-size: 80%;
  width: 120px;
  height: 90px;
  background: url("assets/images/my-courses2.png") no-repeat center center;
}

.new-courses {
  background-size: 70%;
  width: 120px;
  height: 90px;
  background: url("assets/images/new-courses.png") no-repeat center center;
}

.shopping-cart {
  background-size: 161%;
  width: 120px;
  height: 90px;
  background: url("assets/images/shopping-cart.png") no-repeat center center;
}

.shopping-cart-small {
  background-size: 100%;
  width: 120px;
  height: 90px;
  background: url("assets/images/shopping-cart-small.png") no-repeat center center;
}

.my-wallet {
  background-size: 161%;
  width: 120px;
  height: 90px;
  background: url("assets/images/wallet-icon.png") no-repeat center center;
}

.new-course-image {
  background-size: 100%;
  width: 120px;
  height: 90px;
  background: url("assets/images/rocket-blueprint-circle.png") no-repeat center center;
}

.new-citation-image {
  background-size: 100%;
  width: 120px;
  height: 90px;
  background: url("assets/images/new-citation.png") no-repeat center center;
}

.add-citation-from-library-image {
  background-size: 100%;
  width: 120px;
  height: 90px;
  background: url("assets/images/citation-from-library.png") no-repeat center center;
}

.new-course-image {
  background-size: 100%;
  width: 120px;
  height: 90px;
  background: url("assets/images/rocket-blueprint-circle.png") no-repeat center center;
}

.my-tools-image {
  background-size: 80%;
  width: 120px;
  height: 90px;
  background: url("assets/images/tools-image.png") no-repeat center center;
}

.library-image {
  background-size: 60%;
  width: 120px;
  height: 90px;
  background: url("assets/images/library-image.png") no-repeat center center;
}

.nowce-n {
  background-size: contain;
  width: 120px;
  height: 90px;
  background: url("assets/images/nowce-n.png") no-repeat;
  margin: auto;
}

.white-trolley {
  background-size: 80%;
  width: 45px;
  height: 33px;
  background: url("assets/images/white-trolley.png") no-repeat center center;
}
