/* Page Help */
.help-button {
  font-size: 58px;
  color: #e76443;
  background-color: transparent;
  float: right;
  right: 20px;
  position: fixed;
  margin-top: 10px;
  cursor: pointer;
  z-index: 10;
  top: 40px;
}
