@import "../../../../assets/scss/core/variables"; // setup link

.close-and-save {
  position: absolute;
  right: 70px;
  top: 22px;
}

.margin-right-10 {
  margin-right: 10px;
}

.delete-comment {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.thumbnail {
  padding:0px;
}

.panel {
  position:relative !important;
}

.avatar {
  text-align: right;
}

.panel > .panel-heading:after,.panel > .panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}

.pane l> .panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}

.panel > .panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}

.panel > .panel-heading button {
  float: right;
}

.date-column {
  text-align: right;
  padding-right: 45px;
}
