<div class="relative">
  <app-loading-spinner [hidden]="!showSpinner"></app-loading-spinner>
  <div>
    <form [formGroup]="financialFormGroup" novalidate>
      <div class="form-group required"
           [class.has-error]="institution.hasError('required') && formSubmitted">
        <label class="control-label"
               for="financialInstitution">Name of Organization</label>
        <input type="text"
               class="form-control"
               id="financialInstitution"
               formControlName="institution"
               placeholder="Name of Organization">
      </div>
      <div class="form-group required"
           [class.has-error]=" relationshipType.hasError('required') && formSubmitted">
        <label class="control-label"
               for="relationshipType">Type of Relationship</label>
        <input type="text"
               class="form-control"
               id="relationshipType"
               formControlName="relationshipType"
               placeholder="Type of Relationship">
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div>
            <div class="form-group required"
                 [class.has-error]="startDate.hasError('required') && formSubmitted">
              <label class="control-label"
                     for="financialStartDate">Start Date</label>
              <input type="date"
                     class="form-control"
                     id="financialStartDate"
                     formControlName="startDate"
                     placeholder="Start Date">
            </div>

            <div class="form-group">
              <label class="control-label"
                     for="financialEndDate">End Date</label>
              <input type="date"
                     class="form-control"
                     id="financialEndDate"
                     formControlName="endDate"
                     placeholder="End Date">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="financialComment">Comment</label>
        <input type="text"
               class="form-control"
               id="financialComment"
               formControlName="comment"
               placeholder="Comment">
      </div>

      <div class="row required">
        <div class="form-group col-12 required">
          <label class="control-label">Year disclosed</label>
          <input type="date"
              class="form-control"
              id="yearDisclosed"
              formControlName="yearDisclosed"
              placeholder="Year disclosed">
        </div>
      </div>

      <div class="form-group pull-right">
        <button mat-raised-button type="button"
                class="btn btn-primary"
                *ngIf="showDelete"
                (click)="deleteHandler()">
          Delete
        </button>

        <button mat-raised-button type="submit"
                class="btn btn-primary"
                [disabled]="!financialFormGroup.valid"
                (click)="submitHandler()">
          Save
        </button>
        <button mat-raised-button type="button"
                class="btn btn-primary"
                (click)="cancelHandler()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
