<h1>Simple Registration</h1>
<div class="relative">
  <app-loading-spinner [hidden]="!showSpinner"></app-loading-spinner>
  <form [formGroup]="form" novalidate>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 ">

        <div>{{errorMsg}}</div>

        <div>
          <div class="form-group" [class.has-error]="!isControlValid('organization')">
            <label class="control-label"
                   for="organization">Organization Name</label>
            <input type="text"
                   class="form-control"
                   id="organization"
                   formControlName="organization"
                   placeholder="Organization">
          </div>
          <div class="form-group" [class.has-error]="!isControlValid('activity')">
            <label class="control-label"
                   for="activity">Activity or Specialty</label>
            <input type="text"
                   class="form-control"
                   id="activity"
                   formControlName="activity"
                   placeholder="Activity or Specialty">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6 ">
        <div>
          <div class="form-group" [class.has-error]="!isControlValid('firstName')">
            <label class="control-label"
                   for="firstName">First Name</label>
            <input type="text"
                   class="form-control"
                   id="firstName"
                   formControlName="firstName"
                   placeholder="First Name">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 ">
        <div>

          <div class="form-group" [class.has-error]="!isControlValid('familyName')">
            <label class="control-label"
                   for="familyName">Last Name</label>
            <input type="text"
                   class="form-control"
                   id="familyName"
                   formControlName="familyName"
                   placeholder="Last Name">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 ">
        <div>
          <div class="form-group" [class.has-error]="!isControlValid('email')">
            <label class="control-label"
                   for="email">Email Address</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   formControlName="email"
                   placeholder="Email Address">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 ">
        <div>
          <div class="form-group" [class.has-error]="!isControlValid('phone')">
            <label class="control-label"
                   for="phone">Phone Number</label>
            <input type="phone"
                   class="form-control"
                   id="phone"
                   formControlName="phone"
                   placeholder="Phone Number">
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 ">
        <div>
          <div class="form-group" [class.has-error]="!isControlValid('password')">
            <label class="control-label"
                   for="password">Password</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   formControlName="password"
                   placeholder="Password">
          </div>
          <div *ngIf="!isControlValid('password')" class="field-tooltip margin-bottom-20 red">Password should be at least 8 charcters long and contain upper case, lower case, digits and special (!@#$%^&amp;*) characters</div>

        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6 ">
        <div>
          <div class="form-group" [class.has-error]="!isControlValid('confirmPassword')">
            <label class="control-label"
                   for="confirmPassword">Confirm Password</label>

            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   formControlName="confirmPassword"
                   placeholder="Confirm Password">
          </div>
          <div *ngIf="!isControlValid('confirmPassword')" class="field-tooltip margin-bottom-20 red">Confirmation should match password</div>

        </div>
      </div>
    </div>
    <div class="form-group pull-right">
      <button mat-raised-button type="submit"
              [disabled]="!isValid"
              class="btn btn-primary"
              (click)="submitHandler()">
        <i class="fa fa-floppy-o"></i> Save
      </button>
    </div>
  </form>
</div>
