<div class="relative">
  <app-loading-spinner [hidden]="!showSpinner"></app-loading-spinner>
  <div>
    <form [formGroup]="partnershipsFormGroup" novalidate>
      <div class="row required"
           [class.has-error]="partnershipDetails.hasError('required') && formSubmitted">
        <div class="form-group col-12 required">
          <label class="control-label" for="partnershipDetails">Partnership</label>
          <input type="text"
                 class="form-control"
                 id="partnershipDetails"
                 formControlName="partnershipDetails"
                 placeholder="Partnership details">
        </div>
      </div>
      <div class="row required">
        <div class="form-group col-12 required">
          <label class="control-label">Year disclosed</label>
          <input type="date"
                 class="form-control"
                 id="yearDisclosed"
                 formControlName="yearDisclosed"
                 placeholder="Year disclosed">
        </div>
      </div>

      <div class="form-group pull-right">
        <button mat-raised-button type="button"
                class="btn btn-primary"
                *ngIf="showDelete"
                (click)="deleteHandler()">
          Delete
        </button>

        <button mat-raised-button type="submit"
                class="btn btn-primary"
                [disabled]="!partnershipsFormGroup.valid"
                (click)="submitHandler()">
          Save
        </button>
        <button mat-raised-button type="button"
                class="btn btn-primary"
                (click)="cancelHandler()">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
