
<mat-dialog-content>
    <div style="width: 100%; margin:0 auto;margin-top:5%;text-align: center;">
      <h1>
        <i style="font-size:400% !important;" class="material-icons">lock
        </i>
      </h1>
      <br>
      <div style="text-align: center;"><h4>You have been locked out of the exam.</h4></div>
    </div>
    <div  style="width: 100%; margin:0 auto;margin-top:5%;text-align: center;">
      <button mat-raised-button (click)="removeLock()"  class="btn btn-primary action-button margin-top-20">
      <i class="material-icons">lock_open
      </i>
      Remove lock
    </button>
  </div>

</mat-dialog-content>
