//----------------------------------------------
//Colors
//----------------------------------------------
//Branding
$c-primaryColor: #4DBED5;
$c-primaryHighlightColor: #73def2;
$c-primaryShadowColor: #47b7cf;
$c-secondaryColor: #E65520;
$c-secondaryColorDisabled: rgba(230, 85, 32, 0.46);
$c-secondaryHighlightColor: #58e1ff;
$c-secondaryShadowColor: #9eb938;
$c-tertiaryColor: #ee6f62;
$c-tertiaryShadowColor: #ee5947;
$c-quaternaryColor: #acded3;
$c-required: #dc3545;

//Standard Colors
$c-yellow: #d5ab0a;
$c-brighterYellow: #e3b722;
$c-mutedYellow: #f3f5b1;
$c-aqua: #99ca3c;
$c-aquaHover: #99ca3c;
$c-aquaActive: #01b4a2;
$c-lightRedOrange: #f3634d;
$c-lightBlue: #3c6e8d;
$c-red: #ea6753;
$c-orange: rgb(231, 100, 67);

//Grays
$c-black: #000000;
$c-grayDarker: #222222;
$c-grayDark: #333333;
$c-gray: #555555;
$c-grayLight: #999999;
$c-grayMedium: #cacaca;
$c-grayLighter: #eeeeee;
$c-white: #ffffff;

$confirm-green: #008000;
$c-green: #83b512;
$c-brighterGreen: #93c62b;

$t-toolbarHeight: 50px;
$editor-min-height: 120px;
