@import '../../../../assets/scss/core/variables';
@import '../../../../assets/scss/core/mixins';

.btn-pause {
  min-width: 35px;
  background-color: $c-yellow;
  color: $c-white;
  min-height: 35px;
  &:hover {
    background-color: $c-brighterYellow;
  }
}

.btn-navigate {
  background-color: $c-green;
  min-height: 35px;
  &:hover {
    background-color: $c-brighterGreen;
  }

  i {
    color: gray;
  }
}

.navigation-card {
  text-align: center;
}

.btn-next-back {
  color: $c-white;
  min-width: 50px;
  min-height: 35px;
  i {
    color: $c-white;
  }
}
