<form [formGroup]="editCredentialFormGroup" novalidate (ngSubmit)="submitCredentialClickHandler()">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group" [class.has-error]="university.hasError('required') && formSubmitted">
        <label for="university">University or awarding institution</label>
        <input type="university"
               class="form-control"
               id="university"
               formControlName="university"
               placeholder="University">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group" [class.has-error]="university.hasError('required') && formSubmitted">
        <label for="subject">Major subject, study, award, or fellowship etc</label>
        <input type="subject"
               class="form-control"
               id="subject"
               formControlName="subject"
               placeholder="Subject, award, or fellowship">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="postNominalLetters">Post nominal letters awarded (if any)</label>
        <input type="postNominalLetters"
               class="form-control"
               id="postNominalLetters"
               formControlName="postNominalLetters"
               placeholder="Post nominal letters">
      </div>
    </div>
    <div class="col-sm-6"> <!-- #t (change)="setYear(t.value)" -->
      <div class="form-group" [class.has-error]="yearAttained.hasError('required') && formSubmitted">
        <label for="postNominalLetters">Year attained</label>
        <select formControlName="yearAttained" class="form-control ng-pristine ng-invalid ng-touched">
          <option value="">Please Select</option>
          <option [value]="year" *ngFor="let year of years">
            {{year}}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 form-group">
      <div class="pull-right">
        <button mat-raised-button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"
                                                                           aria-hidden="true"></i> Save
        </button>
        <button mat-raised-button class="btn btn-primary" type="button" (click)="cancelCredentialClickHandler()"><i
          class="fa fa-times" aria-hidden="true"></i> Cancel
        </button>
      </div>
    </div>
  </div>
</form>

